p{
    color: white;
}

.backgroundVerde{
    background: #2f9e41;
}

.backgroundCinza{
    background: #e9ecef;
}

.formAuthentication{
    margin-top: 30vh;
    margin-bottom: 20vh;
}

.form-group{
    margin-bottom: 3vh;
    width: 100%;
}

.buttonFinalizar{
    width: 35%;
    margin: 7.5%;
}

.group-button{
    display: flex;
}

.bg-dark{
    box-sizing: border-box;
    height: 10vh;
}

.blackg{
    
    text-align: center;
    width: 100%;
    padding-top: 1.5vh;
    font-weight: bold;
}

.logo{
    margin: 0;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.logo2{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.logo3{
    margin: 0;
    position: absolute;
    margin-top: 50%;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.opcoes{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-left: 25%;
    margin-right: 25%;
    transform: translate(-50%, -50%) 
}

.opcoes2{
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    right: 50%;
    margin-left: 25%;
    margin-right: 25%;
    transform: translate(-50%, -50%)
}

.opcoes3{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    right: 50%;
    margin-left: 15%;
    margin-right: 15%;
    transform: translate(-50%, -50%)
}


.botao{
    margin: 10px;
    width: 300px
}

.divBotoes{
    margin-top: 250px;
}

.retorno{
    margin: 5px;
}

.logo4{
    margin: 0;
    position: absolute;
    margin-top: 5%;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.padding0{
    padding: 0;
    margin: 10px
}

.marginBtn{
    margin: 5px
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255)
	}
a:hover {
	text-decoration: underline; 
	color: black
	}
a:active {
    color: black;
	text-decoration: none
    }
    
.redefinirSenha{
    color: white
}

.labelInformativo{
    margin: 15px
}

.formatText{
    margin: 0;
    position: absolute;
    margin-top: 80%;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: black
}

.formatText2{
    margin: 0;
    position: absolute;
    margin-top: 85%;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: black
}

.textoBranco{
    color: white
}

.sobre{
    margin: 20px;
    justify-content: left
}